node_modules
package-lock.json
src/index_lesson.ts
src/index_lesson.js
src/index_lesson3.ts
src/index_lesson3.js
src/author.ts
src/author.js
src/book.ts
src/bookjs
src/book-collection.ts
src/book-collection.js
src/collection.ts
src/collection.js
src/google-books.ts
src/google-books.js
src/index_dz.ts
src/index_dz.js
src/helpers.ts
src/helpers.js
src/notepad.ts
src/notepadjs
src/product.ts
src/product.js
src/ratingable.ts
src/ratingable.js